<div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

    <div class="vc_row wpb_row vc_row-fluid typography-light" style="padding-top: 100px;padding-bottom: 50px;background-color: #ef5c32;">

        <div class="container center-row clr">

            <div class="wpex-vc-columns-wrap clr">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner wpex-clr">
                        <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                            <div class="textcenter theme-button-wrap clr">
                                <a href="#home-contato" class="vcex-button theme-button outline white small align-center animate-on-hover local-scroll-link" title="Contact Us For A Quote" style="font-size:16px;font-weight:400;letter-spacing:1.5px;">
                                    <span class="theme-button-inner">ENTRE EM CONTATO E FAÇA UM ORÇAMENTO !</span>
                                    <!-- .theme-button-inner -->
                                </a>
                                <!-- vcex-button theme-button outline white small align-center animate-on-hover local-scroll-link -->
                            </div>
                            <!-- textcenter theme-button-wrap clr -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- .wpex-vc-columns-wrap -->

        </div>
        <!-- .container -->



    </div>


</div>
<!-- .wpex-vc-row-wrap -->