<div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

  <div data-ls_id="#home-projetos" class="vc_row wpb_row vc_row-fluid vc_custom_1444182009583">

      <div class="container center-row clr">

          <div class="wpex-vc-columns-wrap clr">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner wpex-clr">
                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                          <h2 style="font-size: 32px;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">Projects</h2>
                          <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                          <div class="wpb_text_column wpb_content_element ">
                              <div class="wpb_wrapper">
                                  <p style="text-align: center;">Icing ice cream bonbon wafer brownie powder chocolate bar. Icing jujubes pie cupcake chocolate sweet roll soufflé liquorice liquorice. Topping chocolate bar macaroon sugar plum pie cheesecake pastry sweet. Sweet roll toffee candy canes unerdwear.com sugar plum sweet jelly-o icing fruitcake. Chocolate liquorice soufflé liquorice wafer lemon drops. Pastry cupcake donut chocolate bar gummies cake cheesecake tart jelly gummi bears pudding candy topping.</p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- .wpex-vc-columns-wrap -->

      </div>
      <!-- .container -->



  </div>


</div>
<!-- .wpex-vc-row-wrap -->


<div class="wpex-vc-row-wrap clr">

  <div class="vc_row wpb_row vc_row-fluid">


      <div class="wpex-vc-columns-wrap clr">
          <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner wpex-clr">
                  <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                      <div class="wpex-carousel wpex-carousel-images clr owl-carousel no-margins" data-items="5" data-slideby="1" data-nav="false" data-dots="true" data-autoplay="false" data-loop="true" data-autoplay-timeout="5000" data-center="false" data-margin="0" data-items-tablet="3" data-items-mobile-landscape="2" data-items-mobile-portrait="1" data-smart-speed="150">


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo1.jpg" title="photo1" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo1-500x400.jpg" width="500" height="400" alt="Photo1" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo2.jpg" title="photo2" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo2-500x400.jpg" width="500" height="400" alt="Photo2" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo3.jpg" title="photo3" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo3-500x400.jpg" width="500" height="400" alt="Photo3" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo4.jpg" title="photo4" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo4-500x400.jpg" width="500" height="400" alt="Photo4" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo5.jpg" title="photo5" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo5-500x400.jpg" width="500" height="400" alt="Photo5" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo6.jpg" title="photo6" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo6-500x400.jpg" width="500" height="400" alt="Photo6" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo7.jpg" title="photo7" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo7-500x400.jpg" width="500" height="400" alt="Photo7" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                  <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo8.jpg" title="photo8" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo8-500x400.jpg" width="500" height="400" alt="Photo8" /> </a>
                                  <!-- .wpex-carousel-entry-img -->



                              </div>
                              <!-- .wpex-carousel-entry-media -->


                          </div>
                          <!-- .wpex-carousel-slide -->


                      </div>
                      <!-- .wpex-carousel -->


                  </div>
              </div>
          </div>
      </div>
      <!-- .wpex-vc-columns-wrap -->




  </div>


</div>
<!-- .wpex-vc-row-wrap -->

<div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

    <div class="vc_row wpb_row vc_row-fluid" style="padding-top: 50px;padding-bottom: 50px;">

        <div class="container center-row clr">

            <div class="wpex-vc-columns-wrap clr">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner wpex-clr">
                        <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                            <div class="textcenter theme-button-wrap clr">
                                <a href="https://dribbble.com/aj-clarke" class="vcex-button theme-button outline small align-center animate-on-hover" title="More On Dribbble" style="font-size:16px;font-weight:400;letter-spacing:1.5px;" target="_blank" rel="nofollow">
                                    <span class="theme-button-inner">MORE ON DRIBBBLE</span>
                                    <!-- .theme-button-inner -->
                                </a>
                                <!-- vcex-button theme-button outline small align-center animate-on-hover -->
                            </div>
                            <!-- textcenter theme-button-wrap clr -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- .wpex-vc-columns-wrap -->

        </div>
        <!-- .container -->



    </div>


</div>
                                  <!-- .wpex-vc-row-wrap -->