<div class="wpex-vc-row-wrap clr wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid" style="padding-top: 200px;padding-bottom: 200px;background-image: url(http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/desk1d.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">


                                          <div class="wpex-vc-columns-wrap clr">
                                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                                  <div class="vc_column-inner wpex-clr">
                                                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                          <div class="wpb_single_image wpb_content_element vc_align_center">
                                                              <div class="wpb_wrapper">

                                                                  <a class="wpex-lightbox" data-type="iframe" data-options="width:1920,height:1080" title="play-w" href="//player.vimeo.com/video/87701971" target="_self">
                                                                      <div class="vc_single_image-wrapper"><img width="128" height="128" src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/play-w.png" class="vc_single_image-img attachment-full" alt="play-w" /></div>
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- .wpex-vc-columns-wrap -->




                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->